# Global options:
# max-failures: maximum number of failures allowed before they are reported in
#   normal mode (default 10). By default, failures are only visible in verbose
#   mode. Most feeds tend to suffer from temporary failures.
# dumpdir: (for debugging purposes) directory where all fetched feeds will be
#   dumped.
# debug-updated: (for debugging purposes) if true, display a lot of information
#   about the "updated-items" algorithm.
# include-images: download images and include them in the mail? (true/false)
# default-email: default email address in the format foo@example.com
# disable-ssl-verification: disable SSL certification when connecting
#   to IMAPS accounts (true/false)
#
# Per-feed options:
# name: name of the feed (must be unique)
# url: HTTP[S] address where the feed has to be fetched
# target: the IMAP URI where to put emails. Should start with imap:// for IMAP,
#   imaps:// for IMAPS and maildir:// for a path to a local maildir.
# min-frequency: (in HOURS) is the minimum frequency with which this particular
#   feed will be fetched
# disable: if set to something, the feed will be ignored
# include-images: download images and include them in the mail? (true/false)
# always-new: feed2imap tries to use a clever algorithm to determine whether
#   an item is new or has been updated. It doesn't work well with some web apps
#   like mediawiki. When this flag is enabled, all items which don't match
#   exactly a previously downloaded item are considered as new items.
# ignore-hash: Some feeds change the content of their items all the time, so
#   feed2imap detects that they have been updated at each run. When this flag
#   is enabled, feed2imap ignores the content of an item when determining
#   whether the item is already known.
# dumpdir: (for debugging purposes) directory where all fetched feeds will be
#   dumped.
# Snownews/Liferea scripts support :
#   execurl: Command to execute that will display the RSS/Atom feed on stdout
#   filter: Command to execute which will receive the RSS/Atom feed on stdin,
#    modify it, and output it on stdout.
#   For more information: http://kiza.kcore.de/software/snownews/snowscripts/
#
#
# If your login contains an @ character, replace it with %40. Other reserved
# characters can be escaped in the same way (see man ascii to get their code)
# feeds:
#   - name: feed2imap
#     url: http://home.gna.org/feed2imap/feed2imap.rss
#     target: imap://luser:password@imap.apinc.org/INBOX.Feeds.Feed2Imap
#   - name: lucas
#     url: http://www.lucas-nussbaum.net/blog/?feed=rss2
#     target: imap://luser:password@imap.apinc.org/INBOX.Feeds.Lucas
#   - name: JabberFrWiki
#     url: http://wiki.jabberfr.org/index.php?title=Special:Recentchanges&feed=rss
#     target: imaps://luser:password@imap.apinc.org/INBOX.Feeds.JabberFR
#     always-new: true
#   - name: LeMonde
#     execurl: "wget -q -O /dev/stdout http://www.lemonde.fr/rss/sequence/0,2-3208,1-0,0.xml"
#     filter: "/home/lucas/lemonde_getbody"
#     target: imap://luser:password@imap.apinc.org/INBOX.Feeds.LeMonde
# It is also possible to reuse the same string in the target parameter:
# target-refix: &target "imap://user:pass@host/rss."
# feeds:
#   - name: test1
#     target: [ *target, 'test1' ]
#     ...
#   - name: test2
#     target: [ *target, 'test2' ]
#     ...

# Danil.
default-email: danil@kutkevich.org
target-refix: &gmail "imaps://danil%40kutkevich.org:password@imap.gmail.com/"
feeds:
  - name: bzr_day
    url: http://bzr-day.blogspot.com/feeds/posts/default?alt=rss
    target: [ *gmail, "feed_bzr_day" ]

  # # Belarus Ruby on Rails User Group <http://belarusrubyonrails.org>.
  # - name: belarusrubyonrails_org
  #   execurl: "wget -q -O http://belarusrubyonrails.org/index2.php?option=ds-syndicate&version=1&feed_id=1"
  #   filter: "/usr/bin/iconv -f cp1251 -t utf8"
  #   target: [ *gmail, "feeds" ]

  - name: clubsyaru_bem
    url: http://clubs.ya.ru/bem/rss/posts.xml
    target: [ *gmail, "feeds" ]
    ignore-hash: true

  # Emacs Planet Russian <http://planet.emacsen.org/ru>.
  # Probably temporary down.
  # - name: emacs_planet_ru
  #   url: http://planet.emacsen.org/ru/atom.xml
  #   #url: http://emacs.defun.ru/atom.xml
  #   target: [ *gmail, "community_emacs" ]

  - name: feed2imap
    url: http://home.gna.org/feed2imap/feed2imap.rss
    target: [ *gmail, "feeds" ]

  # feed2imap dosnt respect feed encoding
  # <http://gna.org/bugs/?12432>.
  # - name: interzet_vacancy
  #   execurl: "wget -q -O /dev/stdout http://interzet.ru/rss/news/vacancy.xml"
  #   filter: "/usr/bin/iconv -f cp1251 -t utf8"
  #   target: [ *gmail, "feed_interzet_vacancy" ]

  # Jimny Blog <http://jimnyblog.ru>
  - name: jimnyblog_ru
    url: http://feeds.feedburner.com/JimnyBlog
    target: [ *gmail, "feeds" ]
    ignore-hash: true

  # # JohnStudio.
  # # News <http://now.john.ru/news>.
  # - name: john_ru_now_news
  #   url: http://now.john.ru/news.atom?key=8fd685597558e3c9cf8240a03bcc087fc2dde2e8
  #   target: [ *gmail, "feeds" ]
  # # Activity <http://now.john.ru/activity>.
  # - name: john_ru_now_activity
  #   url: http://now.john.ru/activity.atom?key=8fd685597558e3c9cf8240a03bcc087fc2dde2e8
  #   target: [ *gmail, "feeds" ]

  - name: jquery_blog
    url: http://feeds.feedburner.com/jquery/
    target: [ *gmail, "feed_jquery_blog" ]
    ignore-hash: true
  - name: nodejsru
    url: http://nodejs.ru/feed
    target: [ *gmail, "feeds_js" ]
  # Probably temporary down.
  # - name: keplerproject_org_unix_installation
  #   url: http://keplerproject.org/en/UNIX_Installation.rss
  #   target: [ *gmail, "feed_keplerproject_org_unix_installation" ]
  #   always-new: true
  # - name: keplerproject_org_xavante_examples
  #   url: http://www.keplerproject.org/en/Xavante_Examples.rss
  #   target: [ *gmail, "feeds" ]
  #   always-new: true
  - name: luarocks_org_installation_for_unix
    url: http://luarocks.org/en/Installation_instructions_for_Unix.rss
    target: [ *gmail, "feeds_lua" ]
    always-new: true
  - name: kovodstvo
    url: http://www.artlebedev.ru/kovodstvo/sections/kovodstvo.rdf
    target: [ *gmail, "feeds" ]

  # # Lisp Planet Russian <http://lisper.ru/planet>.
  # - name: lisper_ru_planet
  #   url: http://lisper.ru/planet/atom.xml
  #   target: [ *gmail, "feeds_lisp" ]

  # LiveJournal.
  - name: lj_ru_lisp
    url: http://ru-lisp.livejournal.com/data/rss/
    target: [ *gmail, "feeds_lisp" ]
  - name: lj_ru_lua
    url: http://ru-lua.livejournal.com/data/rss/
    target: [ *gmail, "feeds_lua" ]
  - name: ilovelua_wordpress_com
    url: http://ilovelua.wordpress.com/feed/
    target: [ *gmail, "feeds_lua" ]
  - name: lj_ru_perl
    url: http://ru-perl.livejournal.com/data/rss/
    target: [ *gmail, "feeds_perl" ]
    ignore-hash: true
  - name: lj_ru_scheme
    url: http://ru-scheme.livejournal.com/data/rss/
    target: [ *gmail, "feeds_lisp" ]
  - name: lj_ru_emacs
    url: http://ru-emacs.livejournal.com/data/rss/
    target: [ *gmail, "community_emacs" ]
  - name: lj_ru_gentoo
    url: http://ru-gentoo.livejournal.com/data/rss/
    target: [ *gmail, "community_gentoo" ]

  # Openmoko.
  # Probably temporary down.
  # - name: openmoko_planet
  #   url: http://planet.openmoko.org/rss10.xml
  #   target: [ *gmail, "feeds_openmoko" ]
  #   ignore-hash: true
  - name: linuxphone_ru
    url: http://feeds2.feedburner.com/LinuxPhone
    target: [ *gmail, "feeds_openmoko" ]
  # <http://linuxphone.ru/forum/viewforum.php?f=1>
  - name: linuxphone_ru_forum
    url: http://www.linuxphone.ru/forum/rss.php?show=openmoko
    target: [ *gmail, "feeds_openmoko" ]
    ignore-hash: true

  - name: rail0rz
    url: http://feeds2.feedburner.com/railorz
    target: [ *gmail, "feed_rail0rz" ]
  - name: railscasts
    disable:
    url: http://feeds.feedburner.com/railscasts
    target: [ *gmail, "feed_railscasts" ]
  - name: railsclub_ru
    url: http://feeds2.feedburner.com/RailsClubRu
    target: [ *gmail, "feed_railsclub_ru" ]
    always-new: true

  # <http://rubyflow.ru>.
  - name: rubyflow_ru
    url: http://feeds.feedburner.com/rubyflowru
    target: [ *gmail, "feed_rubyflow_ru" ]

  # Ruby NoName Podcast <http://ruby.rpod.ru>.
  - name: ruby_noname_podcast
    url: http://ruby.rpod.ru/rss.xml
    target: [ *gmail, "feeds_ruby" ]

  - name: rubyjobsru
    url: http://feeds2.feedburner.com/rubyjobsru
    target: [ *gmail, "feeds_ruby" ]
  # 502 Bad Gateway.
  # - name: rubyonrails_planet_ru
  #   url: http://planet.rubyonrails.ru/xml/rss
  #   target: [ *gmail, "feed_rubyonrails_planet_ru" ]
  - name: softwaremaniacs_org
    url: http://softwaremaniacs.org/blog/feed/
    target: [ *gmail, "feed_softwaremaniacs_org" ]
    ignore-hash: true

  # Spbruby <http://spbruby.org> twitt <http://twitter.com/spbruby>.
  - name: spbruby
    url: http://twitter.com/statuses/user_timeline/62568431.rss
    target: [ *gmail, "feeds_ruby" ]

  # Piter.rb <http://piterrb.heroku.com> twitt <http://twitter.com/piterrb>.
  - name: piterrb
    url: http://twitter.com/statuses/user_timeline/185978901.rss
    target: [ *gmail, "feeds_ruby" ]

  # # Sergey Gershun twitt <http://twitter.com/sergeygershun>.
  # - name: sergeygershun_twitt
  #   url: http://twitter.com/statuses/user_timeline/17778993.rss
  #   target: [ *gmail, "feeds" ]

# Local Variables:
# mode: conf
# End:
