# This file is part of Danil Kutkevich <http://danil@kutkevich.org> home.
# man git-config
# <http://stackoverflow.com/questions/267761/what-does-your-gitconfig-contain>.

# [core]
#     pager = ""

[user]
	email = danil@kutkevich.org
	name = Danil Kutkevich

# [color]
#     diff = always
#     ui = true
# [diff]
# 	external = meld

# Global .gitignore
# <https://help.github.com/articles/ignoring-files#global-gitignore>,
# <http://stackoverflow.com/questions/7335420/global-git-ignore#7335487>.
# Emacs eshell <https://hexmode.com/2016/05/making-git-and-emacs-eshell-work-together>.
[core]
	excludesfile = ~/.gitignore_global
	editor = emacs
	pager = `test \"$TERM\" = \"dumb\" && echo cat || echo less --IGNORE-CASE --LONG-PROMPT`
[url "git@gitlab.rocketbank.sexy:backend/"]
	insteadOf = https://gitlab.rocketbank.sexy/
