# This file is part of Danil Kutkevich <http://danil@kutkevich.org> home.
# man git-config
# <http://stackoverflow.com/questions/267761/what-does-your-gitconfig-contain>.

# [core]
#     pager = ""

[user]
	name = Danil Kutkevich
	email = danil@kutkevich.org

# [color]
#     diff = always
#     ui = true
# [diff]
# 	external = meld

# Global .gitignore
# <https://help.github.com/articles/ignoring-files#global-gitignore>,
# <http://stackoverflow.com/questions/7335420/global-git-ignore#7335487>.
[core]
	excludesfile = ~/.gitignore_global
	editor = emacs
