# This file is part of Danil Kutkevich <danil@kutkevich.org> home.

# Tab completion <http://en.gentoo-wiki.com/wiki/TAB-Completion#Customizations>.

# Activate Bash completion with one TAB key press instead of two TAB
# key presses.
set show-all-if-ambiguous On

# If you are creating your ~/.inputrc file, you may find this breaks
# your Home and End keys. If you find this happens, you may like to
# add this:
# "\e[1~": beginning-of-line
# "\e[4~": end-of-line
