! This file is part of Danil Kutkevich <danil@kutkevich.org> home.

! <https://wiki.archlinux.org/index.php/x_resources>.
! `xrdb -load ~/.Xresources`,
! `xrdb -remove`,
! `xrdb -merge ~/.Xresources`.

! Cursor disappears with compiz and Xft font <http://bbs.archlinux.org/viewtopic.php?pid=991221>.
! *cursorUnderline: true
*cursorBlink: true
! Dark theme.
*cursorColor: #ff0000
! ! White theme.
! *cursorColor:     #aa0000
*cursorUnderline: false
! Get width and height of a terminal window: `tput cols` and `tput lines`
! <http://stackoverflow.com/questions/263890/how-do-i-find-the-width-height-of-a-terminal-window#263900>.
*geometry:        87x43
*saveLines:       10000

! ! <http://askubuntu.com/questions/22419/how-do-i-make-urxvt-render-xft-fonts#96779>.
! ! Error: Font ‘xft:Monospace:pixelsize=24:antialias=true:hinting=true:autohint=true:style=regular’ is not defined
! *font:           xft:Monospace:pixelsize=24:antialias=true:hinting=true:autohint=true:style=regular
! *boldFont:       xft:Monospace:pixelsize=24:antialias=true:hinting=true:autohint=true:style=bold
! *italicFont:     xft:Monospace:pixelsize=24:antialias=true:hinting=true:autohint=true:style=italic
! *boldItalicFont: xft:Monospace:pixelsize=24:antialias=true:hinting=true:autohint=true:style=bold italic

! https://wiki.archlinux.org/index.php/Cursor_themes#X_resources
! Xcursor.theme: Vanilla-DMZ
! Xcursor.size: 72

! Black (dark) theme.
*background: #000000
*foreground: #eaeaea

! ! FIX: dark-blue color on black background hard to read
! ! <http://hints.macworld.com/article.php?story=20040708210951539>.
! *color4: royalblue
! *color12: lightblue

! Include multiple resource
! <https://wiki.archlinux.org/title/x_resources#Include_files>,
! <https://wiki.gentoo.org/wiki/X_resources#Includes>,
! <http://www.nongnu.org/emacsdoc-fr/manuel/resources-x.html>,
! <http://stackoverflow.com/questions/13405240/is-it-possible-to-change-xresources-interactively>.
#include ".Xresources.d/urxvt"
#include ".Xresources.d/uxterm"
#include ".Xresources.d/emacs"
#include ".Xresources.d/xscreensaver"
#include ".Xresources.d/rofi"
