! This file is part of Danil Kutkevich <danil@kutkevich.org> home.
! <https://wiki.archlinux.org/index.php/x_resources>.
! `xrdb -load ~/.Xresources`,
! `xrdb -remove`,
! `xrdb -merge ~/.Xresources`.

! Cursor disappears with compiz and Xft font <http://bbs.archlinux.org/viewtopic.php?pid=991221>.
! *cursorUnderline: true
*cursorBlink: true
! Dark theme.
*cursorColor: #ff0000
! ! White theme.
! *cursorColor:     #aa0000
*cursorUnderline: false
! Get width and height of a terminal window: `tput cols` and `tput lines`
! <http://stackoverflow.com/questions/263890/how-do-i-find-the-width-height-of-a-terminal-window#263900>.
*geometry:        87x43
*saveLines:       10000

! <http://askubuntu.com/questions/22419/how-do-i-make-urxvt-render-xft-fonts#96779>.
*font:           xft:Monospace:pixelsize=24:antialias=true:hinting=true:autohint=true:style=regular
*boldFont:       xft:Monospace:pixelsize=24:antialias=true:hinting=true:autohint=true:style=bold
*italicFont:     xft:Monospace:pixelsize=24:antialias=true:hinting=true:autohint=true:style=italic
*boldItalicFont: xft:Monospace:pixelsize=24:antialias=true:hinting=true:autohint=true:style=bold italic

! Xft.
! `xrdb -query | grep Xft`
! <https://wiki.archlinux.org/index.php/Font_Configuration#Applications_without_fontconfig_support>.
! Antialias <https://wiki.archlinux.org/index.php/Font_Configuration#Anti-aliasing>.
Xft.antialias: true
! Autohint <http://wiki.gentoo.org/wiki/Fontconfig#Regarding_autohinter>.
Xft.autohint: false
! Hinting <https://wiki.archlinux.org/index.php/Font_Configuration#Byte-Code_Interpreter_.28BCI.29>.
Xft.hinting: true
! Hintstyle <https://wiki.archlinux.org/index.php/Font_Configuration#Hintstyle>,
! <http://wiki.gentoo.org/wiki/Fontconfig#Forcing_hinting>,
! <https://wiki.archlinux.org/index.php/X_resources#Xft_resources>.
Xft.hintstyle: hintfull
! Lcd filter <http://wiki.gentoo.org/wiki/Fontconfig#Using_sub-pixel_rendering>,
! <https://wiki.archlinux.org/index.php/Font_Configuration#LCD_filter>.
Xft.lcdfilter: lcddefault
! Sub-pixel rendering <http://wiki.gentoo.org/wiki/Fontconfig#Using_sub-pixel_rendering>,
! <https://wiki.archlinux.org/index.php/Font_Configuration#Subpixel_rendering>.
Xft.rgba: rgb
! ! DPI <https://wiki.archlinux.org/index.php/Font_Configuration#Distorted_fonts>.
! Xft*dpi: 120

! https://wiki.archlinux.org/index.php/Cursor_themes#X_resources
Xcursor.theme: Vanilla-DMZ
! Xcursor.size: 16

! Black (dark) theme.
*background: #000000
*foreground: #eaeaea

! ! FIX: dark-blue color on black background hard to read
! ! <http://hints.macworld.com/article.php?story=20040708210951539>.
! *color4: royalblue
! *color12: lightblue

! Include multiple resource
! <http://www.nongnu.org/emacsdoc-fr/manuel/resources-x.html>,
! <http://stackoverflow.com/questions/13405240/is-it-possible-to-change-xresources-interactively>.
#include ".Xresources.urxvt"
#include ".Xresources.uxterm"
#include ".Xresources.emacs"
#include ".Xresources.xscreensaver"
#include ".Xresources.rofi"
