! This file is part of Danil Kutkevich <danil@kutkevich.org> home.
! `xrdb -load ~/.Xresources`,
! `xrdb -remove`,
! `xrdb -merge ~/.Xresources`.

! Cursor disappears with compiz and Xft font <http://bbs.archlinux.org/viewtopic.php?pid=991221>.
! *cursorUnderline: true
*cursorBlink:     false
*cursorColor:     #aa0000
*cursorUnderline: false
*geometry:        100x38
*saveLines:       10000

! Xft <http://pastebin.com/LMBjmAfF>.
Xft.dpi:       96
Xft.antialias: true
Xft.hinting:   slight
Xft.hintstyle: hintfull
Xft.rgba:      rgb

! *font: -misc-fixed-medium-r-normal--18-120-100-100-c-90-iso10646-1,\
!             -misc-fixed-medium-r-normal--8-80-75-75-c-50-iso10646-1,\
!             -misc-fixed-medium-r-normal--8-80-75-75-c-50-iso10646-1,\
!             -misc-fixed-medium-r-normal--14-130-75-75-c-70-iso10646-1,\
!             -misc-fixed-medium-r-normal--13-120-75-75-c-80-iso10646-1
! *font: xft:DejaVu Sans Mono:pixelsize=12:antialias=true:hinting=true:autohint=true
! <http://askubuntu.com/questions/22419/how-do-i-make-urxvt-render-xft-fonts#96779>.
*font: xft:Ubuntu Mono:pixelsize=18:antialias=true:hinting=true:autohint=true:style=regular

! <https://wiki.archlinux.org/index.php/X11_Cursors>.
Xcursor.theme: Vanilla-DMZ
! Xcursor.size: 48

! ! "White" text on black background.
! *foreground: gray90
! *background: black

! ! Black text on a white background.
! *foreground: black
! *background: white

! ! Black (dark) theme <http://wiki.gentoo.org/wiki/Rxvt-unicode#Color_theme>.
! *background: #0f0f0f
! *foreground: #c8c8c8
! ! Black.
! *color0:  #251f1f
! *color8:  #5e5e5e
! ! Red.
! *color1:  #eb4509
! *color9:  #eb4509
! ! Green.
! *color2:  #94e76b
! *color10: #95e76b
! ! Yellow.
! *color3:  #ffac18
! *color11: #ffac18
! ! Blue.
! *color4:  #46aede
! *color12: #46aede
! ! Magenta.
! *color5:  #e32c57
! *color13: #e32c57
! ! Cyan.
! *color6:  #d6dbac
! *color14: #d6dbac
! ! White.
! *color7:  #efefef
! *color15: #efefef

! ! Tango theme black <http://wiki.gentoo.org/wiki/Rxvt-unicode#Color_theme>.
! *background: #0f0f0f
! *foreground: #c8c8c8
! ! Black.
! *color0:  #2E3436
! *color8:  #555753
! ! Red.
! *color1:  #a40000
! *color9:  #EF2929
! ! Green.
! *color2:  #4E9A06
! *color10: #8AE234
! ! Yellow.
! *color3:  #C4A000
! *color11: #FCE94F
! ! Blue.
! *color4:  #3465A4
! *color12: #729FCF
! ! Purple.
! *color5:  #75507B
! *color13: #AD7FA8
! ! Orange (replaces cyan).
! *color6:  #ce5c00
! *color14: #fcaf3e
! ! White.
! *color7:  #babdb9
! *color15: #EEEEEC

! ! Tango theme black <http://liuchuan.org/files/config/Xresources.html>.
! ! Black.
! *color0:   #000000
! *color8:   #555753
! ! Red.
! *color1:   #cc0000
! *color9:   #ef2929
! ! Green.
! *color2:   #4e9a06
! *color10:  #8ae234
! ! Yellow.
! *color3:   #c4a000
! *color11:  #fce94f
! ! Blue.
! *color4:   #3465a4
! *color12:  #729fcf
! ! Magenta.
! *color5:   #75507b
! *color13:  #ad7fa8
! ! Cyan,
! *color6:   #06989a
! *color14:  #34e2e2
! ! White,
! *color7:   #d3d7cf
! *color15:  #eeeeec


! Include multiple resource
! <http://www.nongnu.org/emacsdoc-fr/manuel/resources-x.html>,
! <http://stackoverflow.com/questions/13405240/is-it-possible-to-change-xresources-interactively>.
#include ".Xresources.urxvt"
#include ".Xresources.uxterm"
#include ".Xresources.emacs"
