[Desktop Entry]
Categories=Network
Comment=Connection Manager applet
Encoding=UTF-8
Exec=connman-applet
Icon=stock_internet
Name=Connection Manager
OnlyShowIn=XFCE;
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=false
Hidden=true
