[Desktop Entry]
Categories=Network;InstantMessaging;GTK;GNOME;
Comment=A GTK+ Jabber client
Exec=gajim
GenericName=Jabber IM Client
Icon=gajim
Name=Gajim
OnlyShowIn=XFCE;
StartupNotify=true
StartupWMClass=Gajim
Terminal=false
Type=Application
Version=1.0
X-GNOME-Autostart-enabled=false
Hidden=true

