[Desktop Entry]
Type=Application
Name=Syncthing tray icon
Icon=/home/danil/go/src/github.com/alex2108/syncthing-tray/img/icon_idle.ico
Exec=/home/danil/go/bin/syncthing-tray/syncthing-tray -target="http://localhost:8384" -api="dPrvdbW5C7QU59CX9CickzhK3QoeyhzE"
Terminal=false
StartupNotify=false
X-GNOME-Autostart-enabled=true
