[Desktop Entry]
Categories=Qt;LXQt;
Exec=lxqt-powermanagement
GenericName=Power Manager
Icon=xfpm-ac-adapter
Name=LXQt Power Management
OnlyShowIn=LXQt;LXDE;XFCE;
StartupNotify=false
Type=Application
X-GNOME-Autostart-enabled=false
Hidden=true

