[Desktop Entry]
Type=Application
Version=1.0
Name=mattermost-desktop
Comment=mattermost-desktopstartup script
Exec=/tmp/.mount_matterLwc1Jt/mattermost-desktop
StartupNotify=false
Terminal=false
Hidden=true

