[Desktop Entry]
Encoding=UTF-8
Exec=/home/danil/bin/my_tray.sh
Name=My tray
OnlyShowIn=XFCE;
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=false
Hidden=true
