[Desktop Entry]
Hidden=true
Encoding=UTF-8
Exec=/home/kutkevich.danil/bin/my_tray.sh
Name=My tray
OnlyShowIn=XFCE;
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=false
