[Desktop Entry]
Version=1.0
Name=Orage Calendar
Name[ar]=Orage Calendar
Name[ast]=Orage Calendar
Name[be]=Orage Calendar
Name[bg]=Orage Calendar
Name[ca]=Orage Calendar
Name[cs]=Orage Calendar
Name[da]=Orage Calendar
Name[de]=Orage Calendar
Name[el]=Orage Calendar
Name[en_AU]=Orage Calendar
Name[en_GB]=Orage Calendar
Name[es]=Orage Calendar
Name[et]=Orage Calendar
Name[eu]=Orage Calendar
Name[fi]=Orage Calendar
Name[fr]=Orage Calendar
Name[gl]=Orage Calendar
Name[he]=Orage Calendar
Name[hr]=Orage Calendar
Name[hu]=Orage Calendar
Name[hy_AM]=Orage Calendar
Name[id]=Orage Calendar
Name[is]=Orage Calendar
Name[it]=Orage Calendar
Name[ja]=Orage Calendar
Name[kk]=Orage Calendar
Name[ko]=Orage Calendar
Name[lt]=Orage Calendar
Name[lv]=Orage Calendar
Name[ms]=Orage Calendar
Name[nb]=Orage Calendar
Name[nl]=Orage Calendar
Name[nn]=Orage Calendar
Name[oc]=Orage Calendar
Name[pl]=Orage Calendar
Name[pt]=Orage Calendar
Name[pt_BR]=Orage Calendar
Name[ru]=Orage Calendar
Name[sk]=Orage Calendar
Name[sq]=Orage Calendar
Name[sr]=Orage Calendar
Name[sv]=Orage Calendar
Name[th]=Orage Calendar
Name[tr]=Orage Calendar
Name[ug]=Orage Calendar
Name[uk]=Orage Calendar
Name[zh_CN]=Orage Calendar
Name[zh_TW]=Orage Calendar
Comment=Desktop calendar
Comment[am]=Desktop calendar
Comment[ar]=Desktop calendar
Comment[ast]=Desktop calendar
Comment[be]=Desktop calendar
Comment[bg]=Desktop calendar
Comment[ca]=Desktop calendar
Comment[cs]=Desktop calendar
Comment[da]=Desktop calendar
Comment[de]=Desktop calendar
Comment[el]=Desktop calendar
Comment[en_AU]=Desktop calendar
Comment[en_GB]=Desktop calendar
Comment[eo]=Desktop calendar
Comment[es]=Desktop calendar
Comment[et]=Desktop calendar
Comment[eu]=Desktop calendar
Comment[fi]=Desktop calendar
Comment[fr]=Desktop calendar
Comment[gl]=Desktop calendar
Comment[he]=Desktop calendar
Comment[hr]=Desktop calendar
Comment[hu]=Desktop calendar
Comment[hy_AM]=Desktop calendar
Comment[id]=Desktop calendar
Comment[is]=Desktop calendar
Comment[it]=Desktop calendar
Comment[ja]=Desktop calendar
Comment[kk]=Desktop calendar
Comment[ko]=Desktop calendar
Comment[lt]=Desktop calendar
Comment[lv]=Desktop calendar
Comment[ms]=Desktop calendar
Comment[nb]=Desktop calendar
Comment[nl]=Desktop calendar
Comment[nn]=Desktop calendar
Comment[oc]=Desktop calendar
Comment[pl]=Desktop calendar
Comment[pt]=Desktop calendar
Comment[pt_BR]=Desktop calendar
Comment[ro]=Desktop calendar
Comment[ru]=Desktop calendar
Comment[sk]=Desktop calendar
Comment[sq]=Desktop calendar
Comment[sr]=Desktop calendar
Comment[sv]=Desktop calendar
Comment[th]=Desktop calendar
Comment[tr]=Desktop calendar
Comment[ug]=Desktop calendar
Comment[uk]=Desktop calendar
Comment[ur]=Desktop calendar
Comment[ur_PK]=Desktop calendar
Comment[vi]=Desktop calendar
Comment[zh_CN]=Desktop calendar
Comment[zh_TW]=Desktop calendar
Exec=orage %F
Icon=org.xfce.orage
StartupNotify=true
MimeType=text/calendar;
Terminal=false
Type=Application
Categories=X-XFCE;Office;Calendar;GTK;
GenericName=Calendar
GenericName[am]=Calendar
GenericName[ar]=Calendar
GenericName[ast]=Calendar
GenericName[be]=Calendar
GenericName[bg]=Calendar
GenericName[ca]=Calendar
GenericName[cs]=Calendar
GenericName[da]=Calendar
GenericName[de]=Calendar
GenericName[el]=Calendar
GenericName[en_AU]=Calendar
GenericName[en_GB]=Calendar
GenericName[eo]=Calendar
GenericName[es]=Calendar
GenericName[et]=Calendar
GenericName[eu]=Calendar
GenericName[fi]=Calendar
GenericName[fr]=Calendar
GenericName[gl]=Calendar
GenericName[he]=Calendar
GenericName[hr]=Calendar
GenericName[hu]=Calendar
GenericName[hy_AM]=Calendar
GenericName[id]=Calendar
GenericName[is]=Calendar
GenericName[it]=Calendar
GenericName[ja]=Calendar
GenericName[kk]=Calendar
GenericName[ko]=Calendar
GenericName[lt]=Calendar
GenericName[lv]=Calendar
GenericName[ms]=Calendar
GenericName[nb]=Calendar
GenericName[nl]=Calendar
GenericName[nn]=Calendar
GenericName[oc]=Calendar
GenericName[pl]=Calendar
GenericName[pt]=Calendar
GenericName[pt_BR]=Calendar
GenericName[ro]=Calendar
GenericName[ru]=Calendar
GenericName[sk]=Calendar
GenericName[sq]=Calendar
GenericName[sr]=Calendar
GenericName[sv]=Calendar
GenericName[th]=Calendar
GenericName[tr]=Calendar
GenericName[ug]=Calendar
GenericName[uk]=Calendar
GenericName[ur]=Calendar
GenericName[ur_PK]=Calendar
GenericName[vi]=Calendar
GenericName[zh_CN]=Calendar
GenericName[zh_TW]=Calendar
Hidden=true

