[Desktop Entry]
Categories=Network;InstantMessaging;
Comment=Chat over IM.  Supports AIM, Google Talk, Jabber/XMPP, MSN, Yahoo and more
Exec=pidgin
GenericName=Internet Messenger
Icon=pidgin
Name=Pidgin Internet Messenger
StartupNotify=true
Terminal=false
Type=Application
