[Desktop Entry]
Categories=Network;InstantMessaging;
Comment=Chat over IM.  Supports AIM, Google Talk, Jabber/XMPP, MSN, Yahoo and more
Comment[ru]=Переписка мгновенными сообщениями.  Поддерживает AIM, Google Talk, Jabber/XMPP, MSN, Yahoo и не только
Exec=pidgin
GenericName=Internet Messenger
GenericName[ru]=Клиент обмена мгновенными сообщениями
Icon=pidgin
Name=Pidgin Internet Messenger
Name[ru]=Клиент обмена мгновенными сообщениями Pidgin
StartupNotify=true
Terminal=false
Type=Application
