[Desktop Entry]
Categories=Utility;Office;TextTools;Dictionary;
Comment=Lookup words
Exec=stardict
Icon=stardict
Name=StarDict
StartupNotify=true
Terminal=false
Type=Application
X-GNOME-DocPath=stardict/stardict.xml
X-GNOME-Autostart-enabled=false
