[Desktop Entry]
Encoding=UTF-8
Exec=trayer-srg --widthtype request --edge top --align right --distancefrom right --distance 115
Name=trayer-srg
Terminal=false
Type=Application
