[Desktop Entry]
Name=Tresorit
Exec=/home/danil/.local/share/tresorit/tresorit --hidden
Terminal=false
Type=Application
Icon=/home/danil/.local/share/tresorit/tresorit.png
resorit.png
resorit.png
resorit.png
X-GNOME-Autostart-Delay=60
X-GNOME-Autostart-enabled=false
