[Desktop Entry]
Encoding=UTF-8
Exec=xchainkeys -f /home/danil/.config/xchainkeys/h10-gentoo-xfce.conf
Name=xchainkeys
OnlyShowIn=XFCE;
Terminal=false
Type=Application
