[Desktop Entry]
Encoding=UTF-8
Exec=xchainkeys -f /home/danil/.config/xchainkeys/h5-ubuntu-unity.conf
Name=xchainkeys
OnlyShowIn=XFCE;
Terminal=false
Type=Application
