[Desktop Entry]
Encoding=UTF-8
Exec=xchainkeys -f /home/danil/.config/xchainkeys/gentoo_xfce.conf
Name=xchainkeys
OnlyShowIn=XFCE;
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=false
