[Desktop Entry]
Comment=Power management for the Xfce desktop
Exec=xfce4-power-manager
Hidden=true
Icon=xfpm-ac-adapter
Name=Power Manager
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=false
