---------------
--  Options  --
---------------
options.timeout = 120
options.subscribe = true

----------------
--  Accounts  --
----------------
your_name_at_example_org = IMAP {
   server = "imap.example.org",
   username = "name@example.org",
   password = "password",
   ssl = "tls12",
}
