---------------
--  Options  --
---------------
options.timeout = 120
options.subscribe = true


----------------
--  Accounts  --
----------------
gmail = IMAP {
   server = "imap.gmail.com",
   username = "danil@kutkevich.org",
   password = "password",
   ssl = "ssl3",
}
