---------------
--  Options  --
---------------
options.timeout = 120
options.subscribe = true

----------------
--  Accounts  --
----------------
gmail = IMAP {
   server = "imap.example.org",
   username = "name@example.org",
   password = "password",
   ssl = "ssl3",
}
