only_maximized=true
show_on_desktop=false
full_name=true
two_lines=false
show_tooltips=true
size_mode=2
title_size=55
sync_wm_font=true
title_font=Sans 12
subtitle_font=sans 10
title_alignment=10
title_padding=3
inactive_text_alpha=60
inactive_text_shade=110

