[General]
Show_Labels=false
Show_Colored_Bars=false
Use_Bar_UI=2
Update_Interval=3
Preferred_Height=472
Number_Chips=10

[Chip0]
Name=iwlwifi_1-0
Number=0

[Chip1]
Name=pch_cannonlake-0
Number=1

[Chip2]
Name=ucsi_source_psy_USBC000:001-0
Number=2

[Chip3]
Name=BAT0-0
Number=3

[Chip4]
Name=thinkpad-0
Number=4

[Chip4_Feature1]
Address=1
Name=CPU
Color=#00B000
Show=true
Min=0
Max=80

[Chip5]
Name=coretemp-0
Number=5

[Chip6]
Name=ucsi_source_psy_USBC000:002-0
Number=6

[Chip7]
Name=nvme-3d00
Number=7

[Chip8]
Name=acpitz-0
Number=8

[Chip9]
Name=ACPI
Number=9

