[Desktop Entry]
Name=Mattermost
Exec=/home/kutkevich.danil/.local/bin/mattermost-desktop   %U
Terminal=false
Type=Application
Icon=/home/kutkevich.danil/.local/lib/appman/mattermost-desktop/icons/mattermost-desktop
StartupWMClass=Mattermost
X-AppImage-Version=5.4.0
Comment=Mattermost
MimeType=x-scheme-handler/mattermost;
Categories=Network;InstantMessaging;
