[Desktop Entry]
Name=Zoom
Comment=Zoom Video Conference
Exec=zoom %U
Icon=/home/danil/.local/lib/appman/zoom/icons/zoom
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Network;Application;
StartupWMClass=zoom
MimeType=x-scheme-handler/zoommtg;x-scheme-handler/zoomus;x-scheme-handler/tel;
X-KDE-Protocols=zoommtg;zoomus;tel;callto;zoomphonecall;
Name[en_US]=Zoom
