[Desktop Entry]
Version=1.0
Type=Application
Exec=/home/danil/.local/lib/appimagelauncher-lite/appimagelauncher-lite.AppImage AppImageLauncherSettings %f
Name=AppImageLauncher Settings
Icon=AppImageLauncher-Lite
Terminal=false
Categories=Settings;
X-AppImage-Integrate=false
StartupWMClass=AppImageLauncherSettings
