[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/danil/Desktop/xfce-settings-manager.desktop]
row=3
col=0

[/home/danil/Desktop/ssh.tar.gz]
row=6
col=0

[/home/danil/Desktop/root.tar.gz]
row=5
col=0

[9A97-8BFD]
row=4
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/danil]
row=2
col=0

