[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/danil/Desktop/xfce4-terminal-emulator.desktop]
row=5
col=0

[/home/danil/Desktop/xfce-settings-manager.desktop]
row=3
col=0

[/home/danil/Desktop/xfce4-appfinder.desktop]
row=4
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/danil]
row=2
col=0

